__pycache__
output*
output_temp
cluster_script
openai_config.json
google_map_api.txt
cached_gpt_responses.json
cache_*.pkl
cost-logs
*.blend
.vscode/*
*.DS_Store
.idea/
tmp/
**/keys
*.so
*.zip
*.glb
*.pyc
*.ply
*.pdf
*.pk
*.pt
*.pth
*.onnx
*.png
*.jpg
.env
.cache
.api_keys*
Genesis-dev/**/*.pkl
*.egg-info*
logs
!ViCo/assets/imgs/*/*.png
!ViCo/assets/imgs/scenes/*/*.png
!ViCo/assets/scenes/*/*.png
!known_places.png
Genesis-dev/genesis/assets/ViCo
chat_raw*.jsonl
a.out
a.log
!ViCo/campaign_challenge/output
terminal_output.txt
check.py
Genesis/
sg/
!/demo/assets/*
!/demo/assets/avatars/*
!/demo/ego/*/*
